.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -3px 5px 10px #c5c5c5;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-items > li {
  padding: 10px;
}
